@model IEnumerable<ArabaSatis.Models.Ilanlar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IlanAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AracDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yakit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IlanAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AracDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yakit.YakitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IlanId">Delete</a>
                <a asp-action="ResimEkle" asp-controller="Resim" asp-route-Id="@item.IlanId" class="btn btn-warning"> Resim Ekle    </a>
                    <a asp-action="ResimGoster" asp-controller="Resim" asp-route-Id="@item.IlanId" class="btn btn-warning"> Resim Göster   </a>
                    <a asp-action="ResimEkle" asp-controller="Resim" asp-route-Id="@item.IlanId" class="btn btn-warning"> Resim Ekle    </a>
                    <a data-toggle="modal" data-target="#ResimGoster" class="btn btn-success"> Resim Göster2   </a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="ResimGoster" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Tema/jquery-3.7.1.js"></script>